html, body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

#connection-status{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  &.connected{
    background-color: #0f0;
  }
  &.disconnected{
    background-color: #f00;
  }
}

footer{
  margin-top: 50px;
  ul{
    padding: 0;
    li{
      margin: 0px 20px;
      a{
        color: white;
        &:hover{
          color: white;
          text-decoration: none; 
        }
      }
    }
    /*li{
      display: inline-block;  
      background-color: black;
      margin-right: 10px;
      padding: 5px;
      border-radius: 5px;
      &:hover{
        background-color: white;
        border: 3px solid black;
        a{
          color:black;
        }
      }
      a{
        color: white;
        &:hover{
          text-decoration: none;
        }
        &:active{
          color: green;
        }
      }
    }*/
  }
}